<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= include_assets %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
