:root {
  --sans-font:
    -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L",
    Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica, "Helvetica Neue",
    sans-serif;
  --serif-font: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  /* Sand */
  --sand-950: #111110;
  --sand-900: #1c1b19;
  --sand-850: #272622;
  --sand-800: #32302b;
  --sand-750: #3d3b35;
  --sand-700: #49463f;
  --sand-650: #55524a;
  --sand-600: #615e55;
  --sand-550: #6e6a60;
  --sand-500: #7b776b;
  --sand-450: #888377;
  --sand-400: #959082;
  --sand-350: #a39e8f;
  --sand-300: #b0ab9b;
  --sand-250: #beb8a7;
  --sand-200: #ccc6b4;
  --sand-150: #dad4c2;
  --sand-100: #e8e2d2;
  --sand-50: #f2f0ec;
  --sand: var(--sand-200);

  /* Azure */
  --azure-950: #04121d;
  --azure-900: #061e2f;
  --azure-850: #052940;
  --azure-800: #033452;
  --azure-750: #014063;
  --azure-700: #014c75;
  --azure-650: #015887;
  --azure-600: #02659a;
  --azure-550: #0172ad;
  --azure-500: #017fc0;
  --azure-450: #018cd4;
  --azure-400: #029ae8;
  --azure-350: #01aaff;
  --azure-300: #51b4ff;
  --azure-250: #79c0ff;
  --azure-200: #9bccfd;
  --azure-150: #b7d9fc;
  --azure-100: #d1e5fb;
  --azure-50: #e9f2fc;
  --azure: var(--azure-550);

  /* Grey */
  --grey-950: #111111;
  --grey-900: #1b1b1b;
  --grey-850: #262626;
  --grey-800: #303030;
  --grey-750: #3b3b3b;
  --grey-700: #474747;
  --grey-650: #525252;
  --grey-600: #5e5e5e;
  --grey-550: #6a6a6a;
  --grey-500: #777777;
  --grey-450: #808080;
  --grey-400: #919191;
  --grey-350: #9e9e9e;
  --grey-300: #ababab;
  --grey-250: #b9b9b9;
  --grey-200: #c6c6c6;
  --grey-150: #d4d4d4;
  --grey-100: #e2e2e2;
  --grey-50: #f1f1f1;
  --grey: var(--grey-300);
}

html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--sans-font);
  font-size: 16px;
  margin: 0;
  background-color: var(--sand-50);
  color: black;
}

.root {
  display: grid;
  grid-template-columns: 200px 1fr;
  width: 100vw;
  height: 100vh;
}

aside {
  display: flex;
  flex-direction: column;

  header {
    h1 {
      margin: 0;
      font-size: 1.1em;
      padding: 10px 6px 6px;
      text-align: center;
    }
  }

  ul {
    font-family: var(--mono-font);
    font-size: 0.7em;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    gap: 0.1em;
    display: flex;
    flex-direction: column;

    li {
      &[data-current] a {
        font-weight: bold;
        color: var(--azure);
      }
    }

    a {
      text-decoration: none;
      color: black;
      padding: 4px 6px;
      border-radius: 4px;
      margin-left: 4px;
      display: block;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

main {
  overflow: hidden;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23f3f3f3' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px 0px;
  margin: 6px 6px 6px 4px;
  display: flex;
  flex-direction: column;

  iframe {
    flex: 1;
    padding: 10px;
    border: 0;
  }
}

.toolbar {
  background-color: var(--grey-50);
  padding: 3px;
  border-bottom: 1px solid var(--grey-100);
  border-top: 1px solid var(--grey-100);

  a {
    display: inline-flex;
    padding: 4px;
    color: black;
    border: 1px solid transparent;

    &:hover {
      border-color: var(--grey-200);
      background-color: var(--grey-100);
      border-radius: 4px;
    }
  }

  svg {
    width: 0.9rem;
    height: 0.9rem;
  }
}
