@import "/config/props.css";

html[data-color-scheme="dark"] {
  color-scheme: dark;
}

html[data-color-scheme="light"] {
  color-scheme: light;
  background-color: white;
}

body {
  font-family: var(--sans-font);
  font-size: 16px;
}
