@import '/config/props.css';

html[data-color-scheme='dark'] {
  color-scheme: dark;
  background: Canvas;
  color: CanvasText;
}

html[data-color-scheme='light'] {
  color-scheme: light;
  background: Canvas;
  color: CanvasText;
}

body {
  font-family: var(--sans-font);
  font-size: 16px;
}
